@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="baitap3.css">
    <title>Chi tiết đơn hàng</title>
</head>
<body>
    <div class="main">
        <div class="board">
            <h1 id="details-font">
                Chi tiết đơn hàng
            </h1>
            <div class="in4">
                <div class="line1">
                    <p id="in4-font">
                        Mã đơn hàng:
                    </p>
                    <h1 style="padding-left:340px">
                        #15072
                    </h1>
                </div>
                <div class="line1">
                    <p id="in4-font">
                        Ngày đặt hàng:
                    </p>
                    <h1 style="padding-left: 300px;">
                        02/10/2023
                    </h1>
                </div>
                <div class="line1">
                    <p id="in4-font">
                        Tình trạng:
                    </p>
                    <h1 style="color:#00cc00;padding-left: 329px;">
                        Đang xử lý
                    </h1>
                </div>
                <div class="line1">
                    <p id="in4-font">
                        Tên khách hàng:
                    </p>
                    <h1 style="padding-left: 319px;">
                        Thanh
                    </h1>
                </div>
                <div class="line1">
                    <p id="in4-font">
                        Số điện thoại:
                    </p>
                    <h1 style="padding-left:300px">
                        0911411912
                    </h1>
                </div>
                <div class="line1" style="border-bottom: 1px solid #e6e6e6;">
                    <p id="in4-font">
                        Email:
                    </p>
                    <h1 style="padding-left: 226px;">
                        ninhhoaithanh@gmail.com
                    </h1>
                </div>
                <div class="line1">
                    <p id="in4-font">
                        Phương thức thanh toán:
                    </p>
                    <h1 style="padding-left: 100px;">
                        Chuyển khoản ngân hàng
                    </h1>
                </div>
                <div class="line1" style="border-bottom: 1px solid #e6e6e6;">
                    <p id="in4-font">
                        Tình trạng thanh toán:
                    </p>
                    <h1 style="color:#00cc00;padding-left: 200px;">
                        Đang chờ xử lý
                    </h1>
                </div>
                <p id="in4-font">
                    Sản phẩm
                </p>
                <div class="product" style="padding-left:40px">
                    <div class="product-in4" style="position: relative;">
                        <h1 style="font-size: 20px">iPhone 14 Pro Max 128GB -₫</h1>
                        <p style="color:grey">Khu vực: Khu vực miền Bắc</p>
                        <p style="color:grey">Hình thức: Mua thẳng</p>
                        <p style="color:grey">Màu sắc: Space Black</p>
                    </div>
                    <div style="padding-left:150px; padding-top: 55px">
                        SL:1
                    </div>
                </div>
                <div class="price">
                    <div class="line2">
                        <p style="padding-left:16px;color:grey">Tổng số tiền đã đặt hàng</p>
                        <h2 style="margin-top:5px;padding-left:200px;font-size: 27px;color:#0066cc">26.490.000₫</h2>
                    </div>
                </div>
                <a href="" style="padding-left: 145px;">Nhấp vào đây để biết chi tiết đơn hàng</a>
                <div class="button" style="padding-top:25px;text-align: center;height:70px">
                    <button style="margin-right: 50px;">Tiếp tục mua hàng</button>
                    <button>Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
